
body {
  margin: 0px;
}

#header {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, .7)), url('images/header-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    padding-bottom: 40px;
}

.header-font-family {
    font-family: calibri;
    color: #f2f2f2;
}

#header-moto {
    font-style: italic;
    font-size: 18pt;
    margin-top: 0px;
    margin-bottom: 20px;
}

#header > h5, h6 {
    margin: .5px;
}

#header > h5 {
    font-size: 16px;
}

#header-img {
    border-radius: 50%;
    width: 85px;
    height: 85px;
    margin-bottom: 7px;
}

.btn {
    display: inline-block;
    height: 50px;
    border-radius: 3px;
    font-weight: 600;
    text-align: center;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    border: 1px solid transparent;
    font-size: 12pt;
    line-height:1.5;
    margin-left:5px;
}

.nav-bar {
    text-align: center;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.nav-container {
    display:flex;
      justify-content: center;

}
.nav-items {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.inactive-btn {
    display: block;
    background-color:white;
    color: #2e2e2e;
    font-weight: 300;
    padding: .25rem 1rem;
    text-decoration:none;
    margin-top: 10px;
}

.mr-auto
{
  margin-right: auto;
  margin-left: auto;

}
/* aus and roaa css*/
.nav-bar-ar {
    display: flex;
    justify-content: space-around;
}

.mr-auto-ar {
    margin: auto;
    display: flex;
}

.btn-ar {
    display: inline-block;
    border-radius: 3px;
    font-weight: 600;
    text-align: center;
    color: #f3f3f3;
    cursor: pointer;
    white-space: nowrap;
    border: 1px solid transparent;
    font-size: 12pt;
    line-height: 1.5;
    margin-left: 5px;
}

.inactive-btn-ar {
    padding: .60rem 1rem;
    text-decoration: none;
}

.nav-items-ar {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.nav-btn-ar {
    background-color: #75C776;
    border: 60px;
}
